<footer>
  <div class="container">
    <h1>株式会社おうちの１１０番</h1>
    <h3>住所：東京都〇〇区〇〇1-2-3〇〇ビル〇階　TEL：080ー1234ー5567</h3>
  </div>
  <div class="footer-copyright">
    <a href="#">プライバシーポリシー</a>
    <%# ＃のところにはプライバシーポリシーのURLを貼る %>
  </div>
  <p class="p-copyright">
    Copyright © おうちの１１０番 All Rights Reserved.
  </p>
</footer>