<footer>
  <div class="footer-top">
    <p>住宅リフォーム おうちの110番</p>
    <p>東京都葛飾区西水元5-16-1</p>
  </div>
  <div class="footer-bottom">
    <p>Copyright © おうちの110番 All Rights Reserved.</p>
  </div>
</footer>
