<footer>
  <div class="footer-top">
    <h1>おうちの１１０番</h1>
    <p>住所：東京都〇〇区〇〇1-2-3〇〇ビル〇階　TEL：080ー1234ー5567</p>
  </div>
  <div class="footer-middle">
    <a href="#">プライバシーポリシー</a>
  </div>
  <div class="footer-bottom">
    <p>Copyright © おうちの１１０番 All Rights Reserved.</p>
  </div>
</footer>
