<footer>
  <div class="footer-top">
    <p>株式会社 おうちの110番</p>
    <p>東京都〇〇区〇〇1-2-3〇〇ビル〇階</p>
    <p>080-1234-5567</p>
  </div>
  <div class="footer-bottom">
    <p>Copyright © おうちの110番 All Rights Reserved.</p>
  </div>
</footer>
