<footer>
  <div class="footer-top">
    <p>おうちの１１０番</p>
    <p>住所：東京都〇〇区〇〇1-2-3〇〇ビル〇階 TEL：080ー1234ー5567</p>
  </div>
  <div class="footer-middle">
    <p>プライバシーポリシー</p>
  </div>
  <div class="footer-bottom">
    <p>Copyright © おうちの１１０番 All Rights Reserved.</p>
  </div>
</footer>
