<header>
  <div class="header-left">
    <%= fa_icon 'amazon' %>
    <a href="/top" class="header-left-heading">
      <p>株式会社</p>
      <p>おうちの１１０番</p>
    </a>
  </div>
  <div class="header-right">
    <a href="/company" class="menu-message">会社案内</a>
    <a href="#" class="menu-message">事業内容</a>
    <a href="#" class="menu-message">施工事例</a>
    <a href="#" class="menu-message">お問い合わせ</a>
  </div>
</header>