<header>
  <div class="container">
    <div class="header-left">
      <h1>株式会社</h1>
      <h2>おうちの１１０番</h2>
    </div>
    <div class="header-right">
      <a href="#">会社案内</a>
      <a href="#">事業内容</a>
      <a href="#">施工事例</a>
      <a href="#">お問い合わせ</a>
    </div>
  </div>
</header>
