<header>
  <div class="container">
    <div class="header-left">
      <a href="/top" class="header-left-heading">
        <%= fa_icon 'amazon' %>
        株式会社 おうちの110番
      </a>
    </div>
    <span class="fa fa-bars menu-icon"></span>
    <div class="header-right">
      <a href="/company">会社案内</a>
      <a href="/possible">事業内容</a>
      <a href="#">施工事例</a>
      <a href="#">お問い合わせ</a>
    </div>
  </div>
</header>