<div class="top-wrapper">
  <img src="/assets/reform1.jpg" alt="">
  <h1></h1>
  <h1></h1>
</div>

<div class="menus">
  <div class="menu">
    <ul>
      <li>
        <a href="/company">
          <img class="img-1" src="/assets/reform4.jpg" alt="会社案内">
          <p>会社案内</p>
        </a>
      </li>

      <li>
        <a href="#">
          <img class="img-2" src="/assets/reform2.jpg" alt="事業内容">
          <p>事業内容</p>
        </a>
      </li>

      <li>
        <a href="#">
          <img class="img-3" src="/assets/reform5.jpg" alt="施工事例">
          <p>施工事例</p>
        </a>
      </li>

      <li>
        <a href="#">
          <img class="img-4" src="/assets/reform3.jpg" alt="お問い合わせ">
          <p>お問い合わせ</p>
        </a>
      </li>
    </ul>
  </div>
</div>