<div class="company">
  <div class="company-content">
    <div class="company-menu">
      <span class="menu-list">
        <a class="menu-title active">会社概要</a>
      </span>
      <span class="menu-list">
        <a class="menu-title">使用メーカー 一覧</a>
      </span>
    </div>
    <%# 会社概要 %>
    <div class="content-info" id="company">
      <ul class="info-list">
        <% @company.each do |head,content| %>
          <li class="list-content">
            <span class="table-head">
              <%= head %>
            </span>
            <span class="table-content">
              <%= content %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
    <%# 使用メーカー %>
    <div class="content-info" id="maker">
      <ul class="maker-list">
        <% @makers.each do |name, img| %>
          <li class="maker-content">
            <%= image_tag img, alt: "#{name}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>