<div class="company">
  <div class="company-content">
    <div class="company-menu">
      <span class="menu-list">
        <a class="menu-title active">会社概要</a>
      </span>
      <span class="menu-list">
        <a class="menu-title">使用メーカー 一覧</a>
      </span>
    </div>
    <%# 会社概要 %>
    <div class="company-info" id="company">
      <ul class="info-list">
        <li class="list-content">
          <span class="table-head">
            社名
          </span>
          <span class="table-content">
            株式会社おうちの110番
          </span>
        </li>
        <li class="list-content">
          <span class="table-head">
            設立
          </span>
          <span class="table-content">
            平成◯年◯月◯日
          </span>
        </li>
        <li class="list-content">
          <span class="table-head">
            所在地
          </span>
          <span class="table-content">
            東京都〇〇区〇〇1-2-3〇〇ビル〇階
          </span>
        </li>
        <li class="list-content">
          <span class="table-head">
            代表取締役
          </span>
          <span class="table-content">
            ◯◯ ◯◯
          </span>
        </li>
        <li class="list-content">
          <span class="table-head">
            TEL
          </span>
          <span class="table-content">
            080-1234-5678
          </span>
        </li>
        <li class="list-content">
          <span class="table-head">
            事業内容
          </span>
          <span class="table-content">
            住宅リフォーム
          </span>
        </li>
      </ul>
    </div>
    <%# 使用メーカー %>
    <div class="company-info" id="maker">
      <ul class="maker-list">
        <% @makers.each do |name, img| %>
          <li class="maker-content">
            <%= image_tag img, alt: "#{name}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>