<div class="contact">
  <%= image_tag "contact.jpg", alt: "お問い合わせ" %>
  <div class="contact-heading">
    <h1 class="heading-top">お問い合わせ</h1>
    <h1 class="heading-bottom">家のリフォームなんでも承ります<h1>
  </div>
</div>
<div class="content">
  <h1 class="content-top light-blue">CONTACT</h1>
  <p class="content-text">お問い合わせ</p>
  <h1 class="content-bottom light-blue">
    外装・内装・リフォームの見積りなど<br>
    まずはお気軽にご相談ください
  </h1>
  <p class="content-text">
    家のリフォームやトラブルで、困っていることがございましたら、一度ご連絡ください！<br>
    お電話でのご相談やメールでのご相談、ご要望に応じて対応させていただきます
  </p>
  <div class="tel">
    <p class="tel-heading light-blue">お急ぎの方はお電話ください</p>
    <%= link_to '03-6315-9442', 'tel:03-6315-9442' %>
    <%= link_to 'メールでお問い合わせする', 'mailto:ouchino110ban@gmail.com?subject=リフォームお問い合わせ&amp;body=ご相談内容をご入力ください' %>
  </div>
</div>