<div class="portfolio">
  <div class="portfolio-content">
    <div class="case-message">
      <p class="pctab">おうちの110番の高い技術により、たくさんのお客様にご満足して頂いております。</p>
      <p class="pctab">その中で一部ではありますが、施工事例をご紹介させて頂きます。</p>
      <p class="smart">施工事例一覧</p>
    </div>
    <div class="case-list">
      <% @cases.each do |image,title| %>
        <ul class="list">
          <li class="case-content">
            <%= image_tag image %>
          </li>
          <li class="case-title">
            <%= title %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>