<div class="service">
  <div class="service-content">
    <div class="service-menu">
      <span class="menu-list">
        <a class="menu-title active">戸建て</a>
      </span>
      <span class="menu-list">
        <a class="menu-title">マンション</a>
      </span>
    </div>
    <!-- 戸建て -->
    <div class="content-info" id="house">
      <ul class="info-list">
        <% @houses.each do |head,content| %>
          <li class="list-content">
            <span class="table-head">
              <%= head %>
            </span>
            <span class="table-content">
              <%= content %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- マンション -->
    <div class="content-info" id="mansion">
      <ul class="info-list">
        <% @mansion.each do |head,content| %>
          <li class="list-content">
            <span class="table-head">
              <%= head %>
            </span>
            <span class="table-content">
              <%= content %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>