<div class="wrap">
  <div class="main">
    <div class="bgwrap">
      <div class="tabMenu tab2">
        <span class="tab01 active">
          <a href="">私たちの強み</a>
        </span>
      </div>

      <div class="tabContents01">
        <div class="stronglead">
          <p>弊社は、お客様のご希望に添いつつ今後の生活が便利で・快適になるよう一生懸命
            <br>
            考えるのはもちろん、アフターケアまで責任持ってやらせていただきます。
            </br>
          </p>
          <p>専門知識を持ったスタッフがお客様の強い味方になります。</p>
        </div>
      

        <div class="w416">
          <p class="subtitle">
            <img src="assets/subtitle_ourskill.png" alt="私たちの強みタイトル画像">
          </p>
        </div>

        <div class="contents">
          <p class="subtitle pxView">
            <img src="assets/point.png" alt="私たちの強み">
          </p>
        </div>

      </div>
    </div>
  </div>
</div>