<div class="slider">
  <div class="slick-content">
    <img src="/assets/reform4.jpg">
  </div>
  <div class="slick-content">
    <img src="/assets/reform4.jpg">
  </div>
</div>
<div class="min-content">
  <img src="/assets/reform4.jpg">
</div>
<div class="menu-wrapper">
  <ul class="flex-list">
    <li class="list1">
      <a>
        <img src="/assets/reform4.jpg" alt="会社案内">
        <p>会社案内</p>
      </a>
    </li>
    <li class="list2">
      <a>
        <img src="/assets/reform2.jpg" alt="事業内容">
        <p>事業内容</p>
      </a>
    </li>
    <li class="list3">
      <a>
        <img src="/assets/reform5.jpg" alt="施工事例">
        <p>施工事例</p>
      </a>
    </li>
    <li class="list4">
      <a>
        <img src="/assets/reform3.jpg" alt="お問い合わせ">
        <p>お問い合わせ</p>
      </a>
    </li>
  </ul>
</div>