header {
  height: 80px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  line-height: 80px;
}

.header-left a {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.fa {
  color: white;
  margin-right: 15px;
  line-height: 80px;
  font-weight: bold;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 80px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  display: none;
  line-height: 80px;
}