.portfolio {
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 50px;
}

.portfolio-content {
  width: 100%;
  height: auto;
}

.case-message {
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #1d272be6;
}

.case-message p:nth-last-child(2) {
  padding-top: 10px;
}

.case-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.list {
  width: 50%;
  list-style: none;
  border: 1px solid #ddd;
  background-color: rgb(243, 240, 240);
  padding: 10px;
}

.case-content img {
  padding: 0;
}

.case-title {
  text-align: center;
  margin-top: 5px;
}

.smart {
  display: none;
}