.slider {
  margin: 100px auto;
  width: 75%;
}

.slider img{
  height: auto;
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}

.top-content {
  text-align: center;
  letter-spacing: 5px;
  color: #1d272be6;
}

.top-content-top {
  font-size: 30px;
}

.top-content-bottom {
  font-size: 20px;
  margin: 15px 0;
}

.menu-wrapper {
  padding: 70px 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.flex-list {
  display: flex;
}

.flex-list li {
  flex: auto;
  list-style: none;
  text-align: center;
  height: auto;
  position: relative;
}

.flex-list li:hover {
  opacity: 0.8;
}

li img {
  padding: 8% 8% 10%;
  height: auto;
  width: 100%;
  object-fit: cover;
}

li p {
  color: white;
  height: 30px;
  line-height: 30px;
  width: 100%;
  position: absolute;
  top: 85%;
}

.list1 {
  background-color: #a0c3f7;
}
.list2 {
  background-color: #ffc562;
}
.list3 {
  background-color: #ff8db3;
}
.list4 {
  background-color: #88e7ce;
}

a {
  cursor: pointer;
}