footer {
  text-align: center;
  background-color: rgba(34, 49, 52, 0.9);
  color: white;
}

.footer-top {
  padding: 30px 0;
}

.footer-top p {
  margin-top: 10px;
  font-size: 14px;
}

.footer-bottom {
  background-color: rgba(19, 27, 29, 0.9);
  font-size: 12px;
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}