/* header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
} */

.header-left {
  float: left;
  height: 100px;
  width: 30%;
  background-color: #cf0;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .fa {
    color: white;
    font-size: 40px;
    margin-right: 15px;
  }

.header-left-heading {
  width: 150px;
  height: 50px;
}

.header-left h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.header-right {
  float: left;
  height: 100px;
  width: 70%;
  background-color: #003366;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right a {
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  text-decoration: none;
  color: white;
}

.menu-message :hover {
  background-color:rgba(255,255,255,0.5);
  transition: all 1s;
}