/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .header-left a {
    font-size: 16px;
  }

  .header-right a {
    font-size: 80%;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .flex-list {
    flex-wrap: wrap;
  }

  .flex-list li {
    width: 50%;
  }
}

/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
  .top-wrapper {
    text-align: left;
  }

  .header-right {
    display: none;
  }

  .menu-wrapper {
    padding-top: 30px;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .flex-list {
    flex-direction: column;
  }

  .flex-list li {
    margin: 0 auto;
    width: 100%;
    margin-top: 15px;
  }

  /* トップ画面 */
  .slider {
    width: 100%;
  }

  .slick-arrow {
    display: none!important;
  }

  .top-content-top {
    font-size: 20px;
  }

  .top-content-bottom {
    font-size: 15px;
    margin: 15px 0;
  }

  .content {
    margin-top: 0;
  }

  .contact-heading {
    font-size: 15px;
  }

  .tel a {
    font-size: 20px;
  }

  .tel-heading {
    font-size: 15px;
  }

  /* 会社概要 */
  .company {
    padding: 20px 0;
  }

  .company-menu {
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    border-bottom: none;
    display: block;
  }

  .menu-list {
    width: 100%;
    display: block;
    border-bottom: 1px solid #eaab12;
  }

  .list-content {
    border-top: 2px solid lightgreen;
  }

  .table-head {
    width: 100%;
    display: block;
    padding: .5em 20px;
    text-align: left;
  }

  .table-content {
    width: 100%;
    display: block;
    padding: .5em 20px;
  }

}